<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
   <h:outputStylesheet library="css" name="style.css"  />
   <title>
       <ui:insert name="page_title" />
   </title>
</h:head>

<h:body>
    <div>
        <h:form>
            Логин : <h:inputText value="#{enterPoint.login}" />
            <br />
            Пароль: <h:inputSecret value="#{enterPoint.password}" />
            <br />
            <h:commandButton value="Войти" action="#{enterPoint.doLogin}"/>
        </h:form>
    </div>
</h:body>
</html>
